@import "tailwindcss";

@font-face {
    font-family: 'CaskaydiaCove';
    src: url('/fonts/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary-50: #fcf3ff;
    --color-primary-100: #f7e3ff;
    --color-primary-200: #f0cdff;
    --color-primary-300: #e4a5ff;
    --color-primary-400: #d46cff;
    --color-primary-500: #c435ff;
    --color-primary-600: #b60fff;
    --color-primary-700: #ab00ff;
    --color-primary-800: #8806c3;
    --color-primary-900: #6f079c;
    --color-primary-950: #4d0076;

    --color-foreground-50: #FFFFFF;
    --color-foreground-100: #F0F0F0;
    --color-foreground-200: #E3E3E3;
    --color-foreground-300: #CACACA;
    --color-foreground-400: #B0B0B0;
    --color-foreground-500: #979797;
    --color-foreground-600: #7D7D7D;
    --color-foreground-700: #636363;
    --color-foreground-800: #4A4A4A;
    --color-foreground-900: #313131;
    --color-foreground-950: #171717;

    --color-content0: #1f1f1f;
    --color-content1: #2f2f2f;
    --color-content2: #3f3f3f;
    --color-content3: #505050;

    --font-md: "CaskaydiaCove", "monospace";
    --font-base: "PT Sans", sans-serif;
}

body {
    font-family: var(--font-base);
}