---

---

<header class="flex justify-center items-center w-full">
  <nav class="w-full max-w-7xl text-foreground-700 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-lg font-bold text-primary-500"
        >Piguinos Asesinos</a
      >
      <ul class="flex gap-2">
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="/about">Acerca de</a>
        </li>
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="/members">Miembros</a>
        </li>
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
