---

---

<header class="flex justify-center items-center w-full">
  <nav class="w-full max-w-7xl text-foreground-700 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-xl font-bold text-white capitalize">
        <span class="uppercase bg-gradient-to-br from-blue-500 to-primary-500 text-content0 px-2 text-center rounded-md">dev</span>
        troy
      </a>
      <ul class="flex gap-2">
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="/">Home</a>
        </li>
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="#about">About</a>
        </li>
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="#projects">Projects</a>
        </li>
        <li
          class="rounded-md px-2 py-1 m-0 transition-all duration-200 ease-in-out hover:bg-white/20 hover:text-foreground-200"
        >
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
