---

---

<div class="w-full min-h-72 flex flex-col lg:flex-row justify-around items-center my-10">
    <div class="flex-1 w-full max-w-1/3 animate-float">
        <img src="/img/hero-icon.svg" alt="logo-hero" class="w-full h-auto max-w-lg">
    </div>
    <div class="w-full lg:w-1/3 flex flex-col items-center gap-5 [&>p,h1]:text-center lg:[&>p,h1]:text-left mt-5 lg:m-0">
        <p class="text-sm">Welcome to <span class="uppercase bg-gradient-to-br from-blue-500 to-primary-500 text-content0 px-2 text-center rounded-md">dev</span> troy. My name is</p>
        <h1 class="text-5xl md:text-7xl font-bold">Roy Ayala</h1>
        <p class="text-2xl font-bolder uppercase">frontend developer</p>
        <p class="text-sm text-foreground-700 max-w-md">
            I am a frontend developer who loves to create beautiful and interactive web applications. I am passionate about using the latest technologies to build modern and responsive web applications.
        </p>
    </div>
</div>
  